@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

.hide-menu-list {
    opacity: 0;
}

.show-menu-list {
    opacity: 1;
    transition: .3s;
}